/* ---------main body style start-------- */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    width: auto;
}
/* ---------main body style end-------- */

/* -----------header section style start---------- */
.header-section{
    width: 1260px;
    background: #161616;
    border-radius: 30px;
    margin: auto;
    /* margin-top: 43px; */
}
.about-cup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.header-title{
    padding: 0 30px;
}
button{
    background-color: #DD0000;
    padding: 6px;
    margin-top: 5px;
    border-radius: 5px;
}
button a{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.header-banner{
    margin-top: 5px;
}
.header-equal h2 {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 700;
}
.header-equal p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.header-equal img{
    width: 100%;
    transition: .5s;
    cursor: pointer;    
}
.header-equal img:hover {
    transform: scale(1.03);
}

/* -----------header section style end---------- */

/* --------------different item section style start------------ */
section.main-section{
    width: 1260px;
    margin: auto;
}
.container {
    display: flex;
    margin-top: 35px;
    justify-content: center;
    align-items: stretch;
}
.left-container{
    background-color: #161616;
    width: 20%;
    height: 200px;
    text-align: center;
    border-radius: 7px;
}
.l-container-item {
    margin-top: 10px;
}
.right-container{
    width: 80%;
    margin-left: 7px;
}
.r-container-contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:24px;
}
.r-container-content,.r-container-content1{
  
    min-height: 180px;
    background-color: #FFFFFF;
    border: 1px solid rgb(241, 225, 225);
    border-radius: 10px;
}
.r-container-content img{
    width: 100%;
}
.blog-title{
    padding: 5px 7px;
}
.r-container-content p{
    font-size: 18px;
    font-weight: 600;
}
.r-container-content1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.r-container-content1 h5{
    color: #161616;
    font-size: 20px;
    font-weight: 600;
}
.r-container-content1 p{
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 400;
}
.up-come-btn,.all-grp-btn,.blog-btn1{
    background-color: #FFFFFF;
    width: 210px;
    border-radius: 10px;
}
.up-come-btn a{
    color: #161616;
}
.all-grp-btn a,.blog-btn1 a{
    color: #161616;
    font-size: 20px;
    font-weight: 500;   
}
.blog-btn,.up-come-btn1{
    width: 210px;
    border-radius: 10px;
}
.blog-btn a,.up-come-btn1 a{
    color: #FFFFFF;
}
.transfer-btn{
    background-color: #FFFFFF;
    padding: 3px 9px;
}
.transfer-btn a{
    color: #161616;
    font-size: 16px;
    font-weight: 500;
}
.r-container-tools{
    display: flex;
}
.r-container-tool{
    width: 50%; 
}
.r-container-tool span{
    margin-left: 10px;
}

/* --------------different item section style end------------ */

/* ------------footer style start ------------- */
footer{
    width: 100%;
    height: 300px;
    background-color: #161616;
    margin-top: 50px;
}
.footer-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.footer-text{
    margin-top: 20px;
}
.footer-text h2{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
}
.footer-menu a{
    color:#B9B9B9;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 16px;
    text-decoration: none;
}
.social-media{
    text-align: center;
    padding: 10px 3px;
}
.social-media a{
    font-size: 20px;
    padding: 8px;
    margin-top: 10px;
    color:#FFFFFF;
}

           /* resposive design */

           /* mobile device */

@media screen and (max-width: 678px){
    *{
        box-sizing: border-box;
    }
    .header-section {
        margin-top: 0px;
        width: 100%;
    }
    .about-cup {
        grid-template-columns: 1fr;
    }
    .header-title {
        padding: 5px 7px;
        margin-left: 0px;
        text-align: center;
        margin-top: 30px;
    }
    .header-equal h2 {
        font-size: 36px;
    }
    .header-banner {
        width: 100%;
        text-align: center;
    }
    .header-equal img {
        width: auto;
    }
    section.main-section{
        width: 100%;
    }
    .container {
        flex-direction: column;
        justify-content: center;
    }
    .left-container {
        width: 100%;
        background-color: #FFFFFF;
    }
    .right-container {
        width: 100%;
        margin-left: 0px;
    }
    .r-container-contents {
        grid-template-columns: auto;
        gap: 15px;
    }
    .r-container-content, .r-container-content1 {
       margin: 15px;
    }
}


@media screen and (min-device-width: 768px) and (max-device-width: 992px) { 
    
}