/* ---------main body style start-------- */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------main body style end-------- */

/* -----------header section style start---------- */
.header-section{
    width: 1260px;
    background: #161616;
    border-radius: 30px;
    margin: auto;
}
.about-cup{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-equal{
    width: 50%;
}
.header-tile{
    padding: 5px 7px;
    margin-left: 50px;
}
button{
    background-color: #DD0000;
    padding: 6px;
    margin-top: 5px;
    border-radius: 5px;
}
button a{
    color:  #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.header-banner{
    margin-top: 5px;
}
.header-equal h2{
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
}
.header-equal p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.header-equal img{
    width: 95%;
}
/* -----------header section style end---------- */

/* --------------different item section style start------------ */
section{
    width: 1260px;
    margin: auto;
}
.container{
    display: flex;
}
.left-container{
    background-color: #161616;
    width: 20%;
    height: 200px;
    text-align: center;
}
.right-container{
    width: 80%;
}
.r-container-contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:24px;
}
.r-container-content{
    background-color: #FFFFFF;
    border: 1px solid rgb(241, 225, 225);
    border-radius: 10px;
    padding: 5px;
}
.r-container-content p{
    font-size: 18px;
    font-weight: 600;
}
.r-container-tools{
    justify-content: center;
    align-items: center;
}
.up-come-btn,.all-grp-btn{
    background-color: #FFFFFF;
    width: 210px;
    border-radius: 10px;
}
.up-come-btn a,.all-grp-btn a{
    color: #161616;
    font-size: 20px;
    font-weight: 500;   
}
.blog-btn{
    width: 210px;
    border-radius: 10px;
}
.blog-btn a{
    color: #FFFFFF;
}
.transfer-btn{
    background-color: #FFFFFF;
    padding: 3px 5px;
}
.transfer-btn a{
    color: #161616;
    font-size: 16px;
    font-weight: 500;
}
.r-container-tools{
    display: flex;
}
.r-container-tool{
    width: 50%;
    
}

/* --------------different item section style end------------ */